<div class="form-group" [ngClass]="extraClasses">
  <div class="input-group">
    <app-label
      *ngIf="label"
      [label]="label"
      [htmlFor]="id"
      [extraStyles]="value ? 'active' : ''"
    ></app-label>
    <input
      type="text"
      [id]="id"
      class="border rounded padding-sm form-control"
      [value]="value"
      (blur)="onBlur()"
      (input)="onInputChange($event)"
      (focus)="addActiveAttribute()"
      [ngClass]="
        shouldShowError()
          ? 'invalid-field is-invalid'
          : isFormValid()
          ? 'just-validate-success-field'
          : ''
      "
    />
  </div>
  <div *ngIf="shouldShowError()">
    <app-error-message [errors]="errors!"></app-error-message>
  </div>
</div>
