<form class="d-flex flex-column" [formGroup]="form">
  <app-card>
    <div>
      <span class="text-success fs-4">Select Module</span>

      <app-select
        [options]="modules"
        [formControlName]="'module'"
        extraStyles="col-sm-4"
      ></app-select>
    </div>
    <div formArrayName="sections" class="d-flex flex-column gap-4">
      <app-card
        *ngFor="let section of sectionArray.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="card-title">
          <span class="text-success fs-4">Add Sections for module</span>
        </div>

        <div class="pt-4">
          <div class="row">
            <div class="col-sm">
              <app-inputfield
                formControlName="title"
                label="Title"
              ></app-inputfield>
            </div>
            <div class="col-sm">
              <app-inputfield
                formControlName="name"
                label="Name"
              ></app-inputfield>
            </div>
            <div class="col-sm">
              <app-inputfield
                formControlName="description"
                label="Description"
              ></app-inputfield>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <app-inputfield
                formControlName="showCondition"
                label="ShowCondition"
              ></app-inputfield>
            </div>
            <div class="col-sm">
              <app-select
                [options]="options"
                formControlName="type"
                [label]="'Type'"
              ></app-select>
            </div>
            <div class="col-sm">
              <app-select
                formControlName="subsections"
                label="Subsection"
                [options]="options"
              ></app-select>
            </div>
          </div>

          <div class="row">
            <app-label label="Fields"></app-label>
            <div formArrayName="fields">
              <app-editable-table
                [tableHeaders]="fieldsTableHeaders"
                [section]="section"
                name="fields"
                [isNested]="true"
              ></app-editable-table>
            </div>
          </div>
        </div>
      </app-card>
    </div>

    <div class="my-2">
      <app-button
        label="Add New Section"
        intent="primary"
        (buttonClick)="addSection()"
      ></app-button>
    </div>
  </app-card>
</form>

<div class="steppers">
  <nav class="steppers-nav">
    <app-button
      type="button"
      intent="primaryOutline"
      label="Submit"
      size="medium"
      class=""
      (buttonClick)="onSubmit()"
    >
    </app-button>
  </nav>
</div>
