<div class="container-lg mx-auto">
  <div class="row">
    <p>
      Il Comune di Firenze gestisce i dati personali forniti e liberamente
      comunicati sulla base dell’articolo 13 del Regolamento (UE) 2016/679
      General data protection regulation (Gdpr) e degli articoli 13 e successive
      modifiche e integrazione del decreto legislativo (di seguito d.lgs)
      267/2000 (Testo unico enti locali).
    </p>
    <p>
      Per i dettagli sul trattamento dei dati personali consulta l’ informativa
      sulla privacy.
    </p>
  </div>

  <div class="row">
    <app-checkbox
      [label]="
        'Ho letto e compresso l’informativa sulla privacy e acconsento al trattamento dei dati personali'
      "
    />
  </div>

  <div class="row mt-3">
    <button class="btn btn-primary w-50">Avanti</button>
  </div>
</div>
