<div class="sticky-top sidebar">
  <nav class="navbar it-navscroll-wrapper navbar-expand-lg" data-bs-navscroll>
    <div class="navbar-collapsable" id="navbarNav">
      <div class="menu-wrapper p-0">
        <div class="link-list-wrapper accordion-item">
          <h3>
            <button
              class="accordion-button w-auto text-primary"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse1c"
              aria-expanded="true"
              aria-controls="collapse1c"
            >
              INFORMAZIONI RICHIESTE
            </button>
          </h3>
          <div id="collapse1c" class="collapse show">
            <ul class="link-list">
              <li *ngFor="let item of sidebar; let i = index" class="nav-item">
                <a
                  href="#{{ item.id }}"
                  class="nav-link"
                  (click)="handleRedirection(item.id, $event)"
                  [ngClass]="isSidebarActive(item.id) ? 'active' : ''"
                  ><span>{{ item.label }} </span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
