/* You can add global styles to this file, and also import other style files */
$primary-h: 160;
$primary-s: 100;
$primary-b: 48;
@import "bootstrap-italia/src/scss/bootstrap-italia.scss";
@import "@ng-select/ng-select/themes/default.theme.css";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  font-family: "Titillium Web", sans-serif;
}

body {
  padding: 8px;
  overflow-x: hidden;
}

/**
* This field is to style the input field with border red if it is invalid
*/
.invalid-field {
  border: 1px solid red !important;
  outline: 1px red;
  outline-style: groove;
}

:focus:not(.focus--mouse),
.form-check [type="checkbox"]:focus + label,
.form-check [type="radio"]:focus + label,
.toggles label input[type="checkbox"]:focus + .lever {
  box-shadow: none !important;
}

.form-control {
  min-height: 1.5rem;
}
.ng-select .ng-select-container {
  min-height: 28px !important;
  min-width: 150px;
}
.ng-select.ng-select-single .ng-select-container {
  min-height: 28px;
}
::ng-deep .ng-select {
  z-index: 1050; /* Adjust the value as needed */
}

::ng-deep .ng-dropdown-panel {
  z-index: 1050; /* Adjust the value as needed */
}
.ng-select.ng-select-disabled > .ng-select-container {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: #a8a3a3;
  color: #000;
  border-color: #ccc;
}
.invalid-select-field {
  border: 1px solid red !important;
  outline: 1px red;
  outline-style: groove;
  border-radius: 4px;
}
